<section class="section about" id="about-us">
  <div class="container about-container">
    <div class="about-text-wrap">
      <h1 class="about-title">
        YachtJet fleet is here to take you on the ultimate adventure
      </h1>
      <ul class="about-list">
        <li class="about-item about-text">
          From spacious decks to state-of-the-art technology, our yachts are
          designed to provide the perfect blend of luxury and functionality.
        </li>
        <li class="about-item about-descr-text">
          Take a look at our selection below and choose the yacht that matches
          your needs and preferences.No matter which yacht you choose, our
          experienced crew will ensure that your journey is smooth and
          enjoyable. Book now and get ready for an unforgettable adventure on
          the high seas.
        </li>
      </ul>
    </div>
    <picture class="about-pic">
      <source
        type="image/webp"
        media="(min-width: 1440px)"
        srcset="../img/about/about.webp 1x, ../img/about/about@2x.webp 2x"
      />
      <source
        type="image/webp"
        media="(min-width: 1280px)"
        srcset="
          ../img/about/about-desktop.webp    1x,
          ../img/about/about-desktop@2x.webp 2x
        "
      />
      <source
        type="image/webp"
        media="(min-width: 768px)"
        srcset="
          ../img/about/about-tablet.webp    1x,
          ../img/about/about-tablet@2x.webp 2x
        "
      />
      <source
        type="image/webp"
        media="(max-width: 767px)"
        srcset="
          ../img/about/about-mobile.webp    1x,
          ../img/about/about-mobile@2x.webp 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        srcset="../img/about/about.jpg 1x, ../img/about/about@2x.jpg 2x"
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          ../img/about/about-desktop.jpg    1x,
          ../img/about/about-desktop@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/about/about-tablet.jpg    1x,
          ../img/about/about-tablet@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/about/about-mobile.jpg    1x,
          ../img/about/about-mobile@2x.jpg 2x
        "
      />
      <img
        class="about-img"
        src="../img/about/about-mobile.jpg"
        loading="lazy"
        alt="Luxury yacht on the water"
      />
    </picture>
  </div>
</section>
