<section class="section advantages">
  <div class="container">
    <ul class="advantages-list">
      <li class="advantages-item">
        <h2 class="advantages-title">01</h2>
        <p class="advantages-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-item">
        <h2 class="advantages-title">02</h2>
        <p class="advantages-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="advantages-item">
        <h2 class="advantages-title">03</h2>
        <p class="advantages-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-item">
        <h class="advantages-title">04</h>
        <p class="advantages-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ul>
    <picture>
      <source
        type="image/webp"
        media="(min-width: 1440px)"
        srcset="
          ../img/advantages/advantages.webp    1x,
          ../img/advantages/advantages@2x.webp 2x
        "
      />
      <source
        type="image/webp"
        media="(min-width: 1280px)"
        srcset="
          ../img/advantages/advantages-desktop.webp    1x,
          ../img/advantages/advantages-desktop@2x.webp 2x
        "
      />
      <source
        type="image/webp"
        media="(min-width: 768px)"
        srcset="
          ../img/advantages/advantages-tablet.webp    1x,
          ../img/advantages/advantages-tablet@2x.webp 2x
        "
      />
      <source
        type="image/webp"
        media="(max-width: 767px)"
        srcset="
          ../img/advantages/advantages-mobile.webp    1x,
          ../img/advantages/advantages-mobile@2x.webp 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ../img/advantages/advantages.png    1x,
          ../img/advantages/advantages@2x.png 2x
        "
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          ../img/advantages/advantages-desktop.png    1x,
          ../img/advantages/advantages-desktop@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/advantages/advantages-tablet.png    1x,
          ../img/advantages/advantages-tablet@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/advantages/advantages-mobile.png    1x,
          ../img/advantages/advantages-mobile@2x.png 2x
        "
      />
      <img
        src="../img/advantages/advantages-mobile.png"
        alt="Advantages Mobile"
      />
    </picture>
  </div>
</section>
