<div class="menu-overlay">
  <div class="menu">
    <div class="header-div-burger">
      <a href="./index.html" class="a-logo-burger">yachtjet</a>
      <button type="button" class="button-svg-close">
        <svg class="svg-close-burger" width="16" height="16">
          <use href="img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="div-nav">
      <ul class="ul-nav-burger">
        <li class="li-a-burger">
          <a href="#about-us" class="a-nav-burger active">About</a>
        </li>
        <li class="li-a-burger">
          <a href="#yachts" class="a-nav-burger">Yachts</a>
        </li>
        <li class="li-a-burger">
          <a href="#reviews" class="a-nav-burger">Reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="ul-burger-link">
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          class="a-link-burger"
          target="_blank"
        >
          <svg width="19" height="19" class="svg-link-burger">
            <use href="img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          class="a-link-burger"
          target="_blank"
        >
          <svg width="20" height="20" class="svg-link-burger">
            <use href="img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          class="a-link-burger"
          target="_blank"
        >
          <svg width="20" height="20" class="svg-link-burger">
            <use href="img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
