<section class="section reviews" id="reviews">
  <div class="container">
    <h2 class="rev-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="rev-text">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <ul class="rev-list">
      <li class="rev-item">
        <div class="rev-item-content">
          <picture>
            <source
              srcset="
                ../img/reviews/review-1-desktop.png    1x,
                ../img/reviews/review-1-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/reviews/review-1-tablet.png    1x,
                ../img/reviews/review-1-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/reviews/review-1-mobile.png    1x,
                ../img/reviews/review-1-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/reviews/review-1-desktop.png"
              alt="John Wax"
              width="56"
              height="56"
            />
          </picture>

          <div class="rev-card-block">
            <h3 class="rev-card-title">John Wax</h3>
            <p class="rev-card-text">
              I rented the Lagoon 620 with my family for a week-long vacation
              and it was the best decision ever. The yacht was spacious,
              comfortable, and luxurious, and the crew took care of everything.
            </p>
          </div>
        </div>
      </li>

      <li class="rev-item rev-two">
        <div class="rev-item-content">
          <picture>
            <source
              srcset="
                ../img/reviews/review-2-desktop.png    1x,
                ../img/reviews/review-2-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/reviews/review-2-tablet.png    1x,
                ../img/reviews/review-2-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="../img/reviews/review-2-desktop.png"
              alt="Victoria Romashenko"
              width="56"
              height="56"
            />
          </picture>
          <div class="rev-card-block">
            <h3 class="rev-card-title">Victoria Romashenko</h3>
            <p class="rev-card-text victoria-text">
              The Sunseeker Manhattan 66 was the perfect choice for our romantic
              getaway. The yacht was beautifully designed, with all the
              amenities we needed, and the crew was attentive and friendly.
            </p>
          </div>
        </div>
      </li>

      <li class="rev-item rev-three">
        <div class="rev-item-content">
          <picture>
            <source
              srcset="
                ../img/reviews/review-3-desktop.png    1x,
                ../img/reviews/review-3-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="../img/reviews/review-3-desktop.png"
              alt="Ihor Trachuk"
              width="56"
              height="56"
            />
          </picture>
          <div class="rev-card-block">
            <h3 class="rev-card-title">Ihor Trachuk</h3>
            <p class="rev-card-text">
              The Azimut 80 was the most luxurious yacht I've ever been on. The
              cabins were spacious and elegant, and the outdoor areas were
              perfect for relaxing and entertaining. Worth every penny!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
