/* ABOUT */

.about {
  padding: 0 20px;
}

.about-container {
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 0;
}

.about-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  padding: 40px 20px 0 20px;
  margin-bottom: 40px;
}

.about-list {
  padding: 0 20px;
}

.about-text {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 20px;
}

.about-descr-text {
  line-height: 1.17;
  letter-spacing: -0.02em;
  font-size: 12px;
  color: rgba(4, 3, 6, 0.4);
  margin-bottom: 40px;
}

.about-img {
  width: 100%;
  border-radius: 24px;
}

@media only screen and (min-width: 768px) {
  .about {
    padding: 0 32px;
  }

  .about-text-wrap {
    padding: 71px 0 0 32px;
  }

  .about-title {
    font-size: 48px;
    max-width: 558px;
    padding: 0;
    margin-bottom: 50px;
  }

  .about-list {
    padding: 0;
  }

  .about-text {
    font-size: 23px;
    max-width: 389px;
  }

  .about-descr-text {
    max-width: 385px;
    font-size: 13px;
    line-height: 1.15;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1280px) {
  .about {
    padding: 0 50px;
  }

  .about-text-wrap {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 0 50px;
  }

  .about-title {
    max-width: 537px;
    padding: 0;
    margin: 0;
  }

  .about-text {
    font-size: 23px;
    max-width: 354px;
  }

  .about-descr-text {
    max-width: 354px;
    margin: 0;
  }

  .about-list {
    padding: 0;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-text {
    max-width: 404px;
  }

  .about-descr-text {
    max-width: 404px;
  }
}
