@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Inter-Light.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
}
:root {
  --primary-color: #fbfbfb;
  --secondary-color: #1b414b;
  --bg-color: #0e1823;
  --dark-color: #040306;
  --dark-opacity-color: rgba(4, 3, 6, 0.4);
  --animation-transition: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-time: 250ms;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--bg-color);
}
.section {
  margin-bottom: 80px;
}
.section .container h2.title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--primary-color);
}
.logo {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
  color: var(--secondary-color);
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 46px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--primary-color);
  border-radius: 15px;
  transition: background-color var(--animation-time) var(--animation-transition),
    color var(--animation-time) var(--animation-transition);
  background-color: var(--secondary-color);
}
.btn.btn-outline {
  border: 1px solid rgba(251, 251, 251, 0.35);
  background-color: transparent;
}
.btn:hover,
.btn.btn-outline:hover {
  border: 0;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(4, 3, 6, 0.1);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.nav-list .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 40px;
  font-size: 9px;
  line-height: 1.3;
  border-radius: 8px;
  text-transform: uppercase;
  color: var(--primary-color);
  transition: background-color var(--animation-time) var(--animation-transition),
    color var(--animation-time) var(--animation-transition);
  background-color: rgba(251, 251, 251, 0.3);
}
header .container .nav-list .nav-link:hover {
  background-color: var(--secondary-color);
}
footer .container .nav-list .nav-link:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.icons-list .icons-list-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.icons-list .icons-list-item svg {
  fill: var(--primary-color);
  transition: fill var(--animation-time) var(--animation-transition);
}
@media only screen and (min-width: 768px) {
  .section {
    margin-bottom: 150px;
  }
  .section .container h2.title {
    font-size: 48px;
  }
  .logo {
    font-size: 20px;
  }
  .btn {
    width: 179px;
    height: 52px;
    font-size: 18px;
    line-height: 1.1;
  }
}