/* HEADER */
.header {
  margin-top: 20px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: 42px;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  background-color: #fbfbfb;
}
.header-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.navigation,
.soc-media-container {
  display: none;
}

.burger-btn {
  padding: 0px;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #1b414b;
}

@media screen and (min-width: 375px) {
  .header-container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin-top: 32px;
  }
  .header-container {
    width: 704px;
    height: 48px;
  }
  .header-logo {
    font-size: 20px;
  }
  .navigation,
  .soc-media-container {
    display: block;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .nav-item {
  }
  .nav-link {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3em;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background-color: rgba(27, 65, 75, 0.5);
  }
  .header-soc-media-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .header-soc-media-item {
  }
  .header-soc-media-link {
  }
  .header-soc-media-link-icon {
    fill: #1b414b;
  }
  .burger-btn {
    display: none;
  }
  .burger-icon {
  }
}
