.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 812px;
}
.hero-background img {
  width: 100%;
  height: 100%;
  max-height: 812px;
}
.hero-background::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(17, 19, 31, 0.8) 15.05%,
    rgba(17, 19, 31, 0.8) 75.3%,
    rgba(17, 19, 31, 0.8) 98.27%
  );
}
.hero {
  padding-top: 198px;
  padding-bottom: 163px;
  margin-bottom: 0;
  text-align: center;
}
.hero h1,
.hero p {
  max-width: 335px;
  margin: 0 auto;
}
.hero h1 {
  max-width: 335px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
}
.hero p {
  max-width: 335px;
  margin-top: 24px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.17;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
}
.hero .btn {
  margin: 0 auto;
  margin-top: 38px;
}
@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 215px;
  }
  .hero h1 {
    max-width: 704px;
    font-size: 70px;
  }
  .hero p {
    max-width: 597px;
    font-size: 16px;
    line-height: 1.4;
  }
  .hero-background {
    height: 962px;
  }
  .hero-background img {
    max-height: 962px;
  }
  .hero .btn {
    margin-top: 48px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    padding-top: 155px;
    padding-bottom: 180px;
  }
  .hero h1 {
    max-width: 1001px;
    font-size: 80px;
  }
  .hero-background {
    height: 800px;
  }
  .hero-background img {
    max-height: 800px;
  }
}